!!! 5
%html
  %head
    %meta(charset='utf-8')
    :css
      body{font-size: 100%; padding: 5px; font-family: Arial}
      h1{font-size: 1.3em;}
      h2{font-size: 1.2em;}
      h3{font-size: 1.1em;}
      a{color: #4D79FF; text-decoration: none;}
      table{
        border-right: 1px solid #ddd;
        border-top: 1px solid #ddd;
      }
      td{
        padding: 0.5em 1em;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
      table ul{
        list-style-type: none;
        margin: 0.5em 0;
        padding: 0
      }
      table li{
        marign: 0;
      }
      #logo{float: right; width: 30%}
      #logo img{ width: 100%}
      img{border: 1px solid #ddd; margin: 5px;}
  %body
    #logo
      %img{:src => "Breastfeeding-Room.jpg"}/
    %h1 關於本軟體
    %h2 版本: 0.001
    %h2 功能說明
    %ul
      %li 提供台北市哺集乳室地點查詢
    %h2 粉絲專頁: <a href='https://www.facebook.com/BreastfeedingRoomHelper'>「台北市哺集乳室查詢助手」粉絲專頁</a>
    %h2
      資料授權:
      %a{:href => "http://data.taipei.gov.tw/opendata"} 台北市政府資料開放平台
    %h2
      資料來源:
      %a{:href => "http://data.taipei.gov.tw/opendata/apply/NewDataContent?oid=A12B1627-717E-4629-AD2C-06212C5E43D1"} 哺集乳室
    %h2 最後更新日期: 2013/10

    %h3 備註: 哺集乳室資料如有異動，請以原始資料為主。

    %h1 哺集乳室相關法規
    %h2 公共場所哺（集）乳室設置及管理標準
    %table
      %tr
        %td 第 1 條
        %td 本標準依公共場所母乳哺育條例第五條第三項規定訂定之。
      %tr
        %td 第 2 條
        %td 設置哺（集）乳室之位置，應有明顯區隔之空間，除專供哺（集）乳外，不得作為其他用途。
      %tr
        %td 第 3 條
        %td
          哺（集）乳室應具下列基本設備：
          %ul
            %li 一、靠背椅。
            %li 二、有蓋垃圾桶。
            %li 三、電源設備。
            %li 四、可由內部上鎖之門。
            %li 五、緊急求救鈴或其他求救設施。
            %li 六、洗手設施。
      %tr
        %td 第 4 條
        %td
          哺（集）乳室之管理、維護或使用應符合下列規定：
          %ul
            %li 一、每日至少清潔維護一次，並作成紀錄。
            %li 二、定期檢查各項基本設備之可用性，並作成紀錄。
            %li 三、維持使用之隱密性及有安全保護措施。
            %li 四、光線充足。
            %li 五、維持良好有效之通風。
            %li 六、以無償方式提供使用。
            %li 七、使用者應遵守哺（集）乳室之使用規範。
          前項哺（集）乳室之管理、維護，應指定專人負責。
      %tr
        %td 第 5 條
        %td 本標準自發布日施行。
